{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Welcome to TimeVyne</h1>
        <h2 class="subtitle">Your access to a personalized time.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        <a href="#" class="button is-primary">Learn More</a>
      </div>
    </div>
  </section>
{% endblock %}
