{% extends 'base.html' %}
{% block content %}
<h1 class="title">Login here.</h1>
{% if form.errors %}
<div class="notification is-danger">
  <button class="delete"></button>
  <p>There was an error with your submission. Please correct the errors below and try again.</p>
</div>
{% endif %}
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="submit">
</form>
{% endblock %}
