{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
          <h1 class="title">Welcome {{ objects.username }}</h1>
      </div>
    </div>
  </section>
{% endblock %}
