<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{% load livereload_tags %}
{% livereload_script %}
</head>
<body>
  <header class="navbar is-primary">
    <nav class="navbar-menu">
      <ul class="navbar-start">
          <li class="navbar-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="navbar-item"><a href="{% url 'timeline' %}">Timevynes</a></li>
      </ul>
      <ul class="navbar-end">
        {% if request.user.is_authenticated %}
          <!-- User is logged in -->
        {% else %}
          <!-- User is not logged in -->
            <li class="navbar-item"><a href="{% url 'register' %}">Register</a></li>
            <li class="navbar-item"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}              
      </ul>
    </nav>
  </header>
  <div class="container">
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="title is-5">About Us</h3>
          <ul>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="column">
          <h3 class="title is-5">Help & Support</h3>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="column">
          <h3 class="title is-5">Social</h3>
          <ul>
            <li><a href="#">Linked-in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
